{% extends "base.html" %}
{% load static header %}


{% block header %}
	{% header show_banner=False fixed_top=True %}
{% endblock %}

{% block content_container %}
	<div class="container scrollable-container">
		<br>
		{% include 'widgets/heading1.html' with text=page.title %}
		<br>
		{% include 'blocks/toc_block.html' with toc=toc only %}
		{% block content %}
			{{ page.content }}
		{% endblock %}
	</div>
{% endblock %}

{% block footer %}
<footer>
	<div class="container-fluid">
		<hr>
			<div class="row">
				<div class="col-sm-8 col-xs-12">
					<p>The legal provider of this Website is the<br>
Potsdam Institute for Climate Impact Research (PIK).</p>
<p>
Telegrafenberg A 31<br>
14473 Potsdam<br>
Germany</p>
				</div>
				<div class="col-sm-2 col-xs-6">
					<a href="https://www.pik-potsdam.de/pik-frontpage?set_language=en" target="_blank"><img class="img-responsive center-block" src="{% static "images/pik.png"%}">
					</a>
				</div>
				<div class="col-sm-2 col-xs-6">
					<a href="https://www.bmbf.de/en/index.html" target="_blank"><img class="img-responsive center-block" src="{% static "images/ministry.png"%}"></a>
				</div>
			</div>
	</div>
</footer>
{% endblock %}
