{% extends "pages/default_page.html" %}
{% load wagtailcore_tags static header crispy_forms_tags %}

{% block content_container %}
	{% if page.timeline_snippet %}
		<div class="block-timeline">
		{% include 'blocks/timeline_block.html' with timeline=page.timeline_snippet %}
		</div>
	{% endif %}
	{% include 'widgets/page-header.html' %}
	<div class="container">
	<form action="{% pageurl page %}" method="POST" class="block-form gradient-background ">
		{% if page.form_title %}
		<h2>{{ page.form_title }}</h2>
		{% endif %}
		{% csrf_token %}
		{# {% bootstrap_form form show_label=False %} #}
		{{ form|crispy }}
		{% if form.fields %}
		<button type="submit" class="btn btn-primary">{{ page.button_name }}</button>
		{% endif %}
	</form>
	</div>
	<div class="form-page-bottom-content">{{ page.bottom_content }}</div>
{% endblock %}
