{% extends "base.html" %}
{% load wagtailcore_tags static %}

{% block content_container %}
<header>
<div class="jumbotron header-image">
	<div class="container">
			<a href="#newsletter" class="newsletter-link">
				#iw17<img src="{% static "images/newsletter.png" %}">
			</a>
		<div class="row header-content">
			<div class="col-sm-4 col-xs-12">
				<img class="logo pull-right" src="{% static "images/logo.png" %}">
			</div>
			<div class="col-sm-8 col-xs-12">
				<div class="intro">
				{{ page.first_intro|safe }}
			</div>
			<br>
			<div class="intro">
				{{ page.second_intro|safe }}
			</div>
			</div>
		</div>
	</div>
</div>
</header>

</div>
<div class="container description">
	<div class="row">
		<div class="col-lg-12">
			{{ page.description|safe }}
		</div>
	</div>
</div>
<div class="jumbotron topic">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-xs-12 topic1">
				<span class="number-circle">1</span>
				{{ page.topic1|safe }}
			</div>
			<div class="col-sm-6 col-xs-12 topic2">
				<span class="number-circle">2</span>
				{{ page.topic2|safe }}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-xs-12 topic3">
				<span class="number-circle">3</span>
				{{ page.topic3|safe }}
			</div>
			<div class="col-sm-6 col-xs-12 topic4">
				<span class="number-circle">4</span>
				{{ page.topic4|safe }}
			</div>
		</div>
	</div>
</div>
<div class="container types">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<img class="img-responsive center-block" src="{% static "images/plenary.png" %}">
			{{ page.plenary|safe }}
		</div>
		<div class="col-md-4 col-sm-12">
			<img class="img-responsive center-block" src="{% static "images/discussion.png" %}">
			{{ page.discussion|safe }}
		</div>
		<div class="col-md-4 col-sm-12">
			<img class="img-responsive center-block" src="{% static "images/poster.png" %}">
			{{ page.poster|safe }}
		</div>
	</div>
</div>
<div class="container">
	<hr>
</div>
<div class="container timeline">
	{{ page.timeline|safe }}
</div>
<div class="container newsletter">
	{{ page.newsletter|safe }}
</div>
<div class="container members">
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			{{ page.members1|safe }}
		</div>
		<div class="col-xs-12 col-sm-4">
			{{ page.members2|safe }}
		</div>
		<div class="col-xs-12 col-sm-4">
			{{ page.members3|safe }}
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<hr>
			<div class="row">
				<div class="col-lg-6">
					<p>The legal provider of this Website is the<br>
Potsdam Institute for Climate Impact Research (PIK).</p>
<p>
Telegrafenberg A 31<br>
14473 Potsdam<br>
Germany</p>
				</div>
				<div class="col-lg-3">
					<img class="img-responsive center-block" src="{% static "images/pik.png"%}">
				</div>
				<div class="col-lg-3">
					<img class="img-responsive center-block" src="{% static "images/ministry.png"%}">
				</div>
			</div>
	</div>
</footer>
{% endblock %}
