{% load timestamp %}
<div class="panel-heading" role="tab" id="plenary-heading-{{ panel_id }}">
	<div class="panel-title">
		<span class="time">{{ time|date:'g:iA'|lower }}</span>
		{% if is_collapsible %}
			<a class="accordion-toggle collapsed" role="button" data-toggle="collapse" data-parent="#programme-accordion" href="#plenary-{{ panel_id }}" aria-expanded="true" aria-controls="plenary-{{ panel_id }}">
			<h4>{{ title }}</h4>
			</a>
		{% else %}
			<h4>{{ title }}</h4>
		{% endif %}
	</div>
</div>