{% load staticfiles i18n %}
<div class="widget-header">
	{% if show_banner %}
	<div class="jumbotron header-image" style="background-image:url('{{ banner.image }}');">
		<div class="container">
			<div class="row header-content">
				<div class="col-md-3 col-sm-12">
					<img class="logo" src="{% static "images/logo.png" %}">
				</div>
				<div class="col-md-9 col-sm-12">
					<div class="intro">
					{{ banner.first_intro|safe }}
					</div>
					<br>
					<div class="intro">
						{{ banner.second_intro|safe }}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<nav class="navbar navbar-default{% if fixed_top %} navbar-fixed-top{% endif %}">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">
					<img src="{% static 'images/pentagon.png' %}">
					<span><b>#impacts</b><br>world<b>2017</b></span>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav main hidden-xs hidden-sm">
					{% for link in links %}
						<li{% if link.active %} class="active"{% endif %}>
							<a href="{{ link.url }}">{{ link.text }}</a>
						</li>
					{% endfor %}
				</ul>
				{% if participate %}
					<a class="hidden-xs hidden-md hidden-lg main participate{% if participate.active %} active{% endif %}" href="{{ participate.url }}">{{ participate.text }} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				{% endif %}
			</div><!-- navbar-collapse -->
			<div class="navbar-footer">
			&nbsp;
				{% if participate %}
					<a class="participate{% if participate.active %} active{% endif %} hidden-xs hidden-sm" href="{{ participate.url }}">{{ participate.text }} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
				{% endif %}
				<a type="button" class="navbar-toggle collapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar middle-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</a>
			</div>
		</div><!-- container -->
	</nav>
	<div class="navbar-mobile">
		<ul class="nav navbar-nav">
		{% for link in links %}
			<li{% if link.active %} class="active"{% endif %}>
				<a href="{{ link.url }}">{{ link.text }}</a>
			</li>
		{% endfor %}
		{% if participate %}
			<li><a class="{% if participate.active %} active{% endif %}" href="{{ participate.url }}">{{ participate.text }} <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></li>
		{% endif %}
		</ul>
	</div>
</div><!-- widget-header -->
