{% load wagtailcore_tags %}
<div class="widget-page-header">
	<div class="container">
		<h1>{{ page.title }}</h1>
		{% if page.intro %}
			<div class="intro-text">{{ page.intro|richtext }}</div>
		{% endif %}
		{% for entry in sidebar_menu %}
			{% if entry.is_active and entry.children %}
				<ul class="nav hidden-sm hidden-md hidden-lg mobile-anchor-nav">
				{% for child in entry.children %}
					<li><a href="#{{ child.url }}">{{ child.name }}</a></li>
				{% endfor %}
				</ul>
			{% endif %}
		{% endfor %}
	</div>
</div>