{% load wagtailcore_tags wagtailimages_tags %}
<div class="widget-page-header">
	<div class="container">
	<div class="header{% if icon %} header-with-icon{% endif %}">
		<h2 class="permalink">
			{% if icon %}
				{% image icon fill-60x60 %}
			{% endif %}
			{{ title }}
			<a class="headerlink anchor-scroll" href="#{{ title|slugify }}" title="Permalink to this headline"><i style="font-size:0.6em;" class="fa fa-link" aria-hidden="true"></i></a>
			<span class="anchor" id="{{ title|slugify }}"></span>
		</h2>
	</div>
		{% if room %}<p class="room">{{ room }}</p>{% endif %}
		{{ description|richtext }}
	</div>
</div>
