{% load wagtailcore_tags wagtailimages_tags %}
<div class="widget-page-header">
	<div class="container">
	<div class="header{% if icon %} header-with-icon{% endif %}">
		{% if icon %}
		<div class="icon">
			{% image icon fill-60x60 %}
		</div>
		{% endif %}
		<h2 id="{{ title|slugify }}" class="permalink">{{ title }}
			<a class="headerlink anchor-scroll" href="#{{ title|slugify }}" title="Permalink to this headline"><i style="font-size:0.6em;" class="fa fa-link" aria-hidden="true"></i></a>
		</h2>
	</div>
		{% if room %}<p class="room">{{ room }}</p>{% endif %}
		{{ description|richtext }}
	</div>
</div>
