{% load wagtailcore_tags wagtailimages_tags %}
{% for page in children %}
	<div class="widget-plenary_workshops">
		<div class="container">
			<div class="header{% if show_icon and page.specific.icon %} header-with-icon{% endif %}">
				<h3 class="permalink">
					{% if show_icon %}
						{% image page.specific.icon fill-60x60 %}
					{% endif %}
					{{ page.title }}
					<a class="headerlink anchor-scroll" href="#{{ page.title|slugify }}" title="Permalink to this headline"><i style="font-size:0.6em;" class="fa fa-link" aria-hidden="true"></i></a>
					<span class="anchor" id="{{ page.title|slugify }}"></span>
				</h3>
				<p class="meta">{{ page.specific.date_time|date:'l d F' }}, {{ page.specific.date_time|date:'g:iA'|lower }}, {{ page.specific.room }}</p>
				{% if page.specific.convenor_name %}
				<p>Host: <b>{{ page.specific.convenor_name }}</b> ({{ page.specific.convenor_institute }})</p>
				{% endif %}
				<div class="intro-text">{{ page.specific.description|richtext }}</div>
			</div>
			{% for block in page.specific.content %}
				{% include_block block with is_last=forloop.last %}
			{% endfor %}
		</div>
	</div>
{% endfor %}