{% load wagtailcore_tags wagtailimages_tags %}
<div class="jumbotron">
	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="widget-richtext-content">
						{{ intro|richtext }}
						<div class="clearfix"></div>
					</div><!-- widget-richtext-content -->
				</div>
			</div>
		</div>
	</div>
	<div class="challenges">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12 challenge1">
					{% image challenge1.icon fill-95x95 %}
					<h3>{{ challenge1.name }}</h3>
					{{ challenge1.short_description|safe }}
				</div>
				<div class="col-sm-6 col-xs-12 challenge2">
					{% image challenge2.icon fill-95x95 %}
					<h3>{{ challenge2.name }}</h3>
					{{ challenge2.short_description|safe }}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-xs-12 challenge3">
					{% image challenge3.icon fill-95x95 %}
					<h3>{{ challenge3.name }}</h3>
					{{ challenge3.short_description|safe }}
				</div>
				<div class="col-sm-6 col-xs-12 challenge4">
					{% image challenge4.icon fill-95x95 %}
					<h3>{{ challenge4.name }}</h3>
					{{ challenge4.short_description|safe }}
				</div>
			</div>
		</div>
	</div>
</div>