{% load wagtailcore_tags wagtailimages_tags %}
<div class="container">
	<div class="panel">
		{% include "widgets/collapse-header.html" %}
		{% if is_collapsible %}
			<div id="plenary-{{ panel_id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="plenary-{{ panel_id }}">
				<div class="panel-body">
					{% if description %}
					{{ description|richtext }}
					{% endif %}
					{% if workshops %}
						{% for workshop in workshops %}
						<div class="row">
							<div class="col-sm-8">
								<div class="icon">
								{% image workshop.icon fill-40x40 %}
								</div>
								<div class="text">
									<p><b><a href="{{ workshop.url }}">{{workshop.title}}</a></b><br>
									Convenor: {{workshop.name}}</p>
								</div>
							</div>
							<div class="col-sm-4 text-right">
								<span class="room">{{workshop.room}}</span>
							</div>
						</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>