/// IMPACT World Styles

@color-white: white;
@color-black: black;
@color-neutral: #a4a4a4;
@color-neutral-light: #979797;
@color-neutral-dark: #4a4a4a;
@color-primary: #acd3a3; // green
@color-primary-light: #a9d4a6; // light green
@color-primary-dark: #436E40; // dark green
@color-secondary: #fcbc48; // yellow
@color-secondary-strong: #fa9a00; // Hover color
@color-secondary-light: #FFEF7B;



@import "../vendor/css/open-sans.less";

@font-face {
  font-family: 'OpenSansEmoji';
  src: url('../vendor/fonts/opensansemoji/OpenSansEmoji.eot');
  src: url('../vendor/fonts/opensansemoji/OpenSansEmoji.woff') format('woff'), url('../vendor/fonts/opensansemoji/OpenSansEmoji.ttf') format('truetype'), url('../vendor/fonts/opensansemoji/OpenSansEmoji.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.eot');
    src: url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('../vendor/fonts/montserrat_bold_macroman/Montserrat-Bold-webfont.eot');
    src: url('../vendor/fonts/montserrat_bold_macroman/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../vendor/fonts/montserrat_bold_macroman/Montserrat-Bold-webfont.woff') format('woff'),
         url('../vendor/fonts/montserrat_bold_macroman/Montserrat-Bold-webfont.ttf') format('truetype'),
         url('../vendor/fonts/montserrat_bold_macroman/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}





@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

body {
  /* Der Browser lädt automatisch die Schnitte, deren Stil und Gewicht benötigt werden. */
  font-family: 'Open Sans';

  // https://stackoverflow.com/questions/6935040/disadvantages-to-using-css-word-wrap-globally
  word-wrap: break-word;
  color: #4a4a4a;
}


a {
  color: @color-secondary;
  font-weight: 600;

  &:hover, &:focus {
    text-decoration: underline;
  }
}
.super a {
  color: @color-white;
}


abbr[data-original-title], abbr[title] {
  border-width: 0;
  text-decoration: none;

  &::after {
    font-family: FontAwesome;
    content: "\202f\f29c";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 90%;
    vertical-align: 0.4em;
    text-rendering: auto;
  }
}


.background-container {
  // wrapper around whole page with background image
  background-position: center;
  background-size: cover;

  > .content-container {
    background-color: @color-white;

    padding-top: 30px;
    padding-bottom: 30px;

    @media(min-width:768px) {
      padding: 0;

      > .content-container-border {
        border: 1px solid @color-neutral;

        > .content-container-inner {
          padding: 30px;
        }
      }
    }
  }
}

.alert {
  position: absolute;
  z-index: 999;
  width: 50%;
  top: 0;
  left: 25%;
  border-radius: 2px;
  p {
    font-size: 18px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}


.form-control {
  border-radius: 4px;
  border-width: 1px;
  border-color: @color-neutral;

  height: 40px;
  font-size: 16px;
  font-weight: 600;

  -webkit-transition: border-color 0.5s, background-color 0.5s;
  transition: border-color 0.5s, background-color 0.5s;


  &:focus, &:hover {
    border-color: @color-neutral-dark;
    -webkit-box-shadow: none;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.3);
  }

  &.form-control-small {
    height: 33px;
    font-size: 13px;
    font-weight: normal;
  }
}
textarea.form-control.form-control-small {
  height: auto;
}

select.form-control {
  display: inline-block;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-color: @color-white;
  background-color: @color-white;

  @media(min-width:768px) {
    margin-right: 15px;
  }

  option {
    background-color: @color-white;
    color: @color-black;
    font-weight: 400;
  }

}
.form-group {
  margin-bottom: 15px;
}



.super {
  // Störer-Block with blue background for use inside .container
  background-color: @color-primary;
  padding: 20px;
  margin-bottom: 30px;
  color: @color-white;

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }

  a {
    &:hover {
//      color: @color-white;
    }
  }
}


// Headlines
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  color: @color-black;
  margin-top: 0; // Undo this in richtext fields

  a {
    font-weight: inherit;
    text-transform: inherit;
  }
}

h1, .h1, h2, .h2 {
  // H1 und H2 sehen gleich aus, nur semantisch verschieden.
  font-weight: 400;
  font-size: 22px;
  color: @color-neutral-dark;

  @media(min-width:768px) {
    font-size: 28px;
  }
}
h3, .h3 {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 22px;
  color: #4a4a4a;
  font-family: 'montserratbold';
}
h4, .h4 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 18px;
  color: #4a4a4a;
  font-family: 'montserratbold';
}
.super {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    color: @color-white;
  }
}
.widget-heading-sm-two-lines {
  // These headings have a minimum height of 2 lines.
  @media(min-width:768px) {
    min-height: 2.3em;
  }
  @media(min-width:992px) {
    min-height: 0;
  }
}



// Buttons
.btn {
  border-color: @color-black;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 0;
  -webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s;
  transition: color 0.5s, border-color 0.5s, background-color 0.5s;

  @media(min-width:992px) {
    font-size: 16px;
    padding: 15px 25px;
  }

  &.btn-default {
    border-color: @color-black;
    background-color: transparent;

    &:hover, &:focus {
      color: @color-neutral-dark;
      border-color: @color-neutral-dark;
    }
  }

  &.btn-primary {
    border-color: @color-neutral-dark;
    background-color: @color-neutral-dark;
    color: @color-white;

    &:hover, &:focus {
    border-color: @color-neutral-light;
    background-color: @color-neutral-light;
    color: @color-white;
    }
  }

  &.btn-secondary {
    border-color: @color-secondary;
    background-color: @color-secondary;
    color: @color-white;

    &:hover, &:focus {
    border-color: @color-neutral-dark;
    background-color: @color-neutral-dark;
    color: @color-white;
    }
  }

  &.btn-link {
    padding: 0;
    border-width: 0;
    text-transform: none;
    font-size: inherit;
  }

  &.btn-lg {
    font-size: 16px;

    @media(min-width:768px) {
      font-size: 22px;
      font-weight: normal;
    }
  }
}
.super {
  .btn {

    &.btn-default {
      border-color: @color-white;
      color: @color-white;

      &:hover, &:focus {
      border-color: @color-secondary;
      color: @color-secondary;
      }
    }
  }
}

hr {
  border-style: solid;
  border-image-source: linear-gradient(to right, #a9d4a6, #fcbc48);
  border-image-slice: 1;
  margin-top: 0;
}
.number-circle {
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 47px;
  height: 47px;
  padding: 3px;
  background: #acd3a3;
  color: @color-white;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}


// ############# Widgets
.container,
.jumbotron {
    margin-bottom: 75px;
}
.jumbotron .container {
  margin-bottom: 0;
}
.logo {
  width: 190px;
  height: auto;
  @media(max-width:768px) {
    width: 150px;
    float: none!important;
    margin: 0 auto;
    display: block;
  }
}
.header-image {
  background: url(../images/header.jpg) no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 500px;
}
.header-content {
  margin-top: 9%;
  .intro {
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
    &:first-child {
      margin-top: 68px;
    }
    h2 {
      opacity: 1;
      font-size: 30px;
      font-weight: 600;
      color: @color-white;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
    p {
      color: @color-white;
      opacity: 1;
      font-size: 16px;
      line-height: 1.5;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.topic {
  background-color: rgba(169, 212, 166, 0.1);
  padding-top: 35px;
  padding-bottom: 35px;
  .row div {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .topic3:after,
  .topic3:before,
  .topic1:after,
  .topic4:before {
      content:"";
      background: rgba(74, 74, 74, 0.6);
      position: absolute;
      @media(max-width:768px) {
        content: none;
      }
  }
  .topic3:after {
      top: 0;
      left: 0;
      width: 93%;
      height: 1px;
  }
  .topic1:after {
      top: 0;
      right: 0;
      height: 90%;
      width: 1px;
  }
  .topic4:before {
    top: 0;
    right: 0;
    width: 93%;
    height: 1px;
  }
  .topic3:before {
      top: 10%;
      right: 0;
      height: 90%;
      width: 1px;
  }
  p {
    font-size: 16px;
    color: #4a4a4a;
    margin: 0;
  }
}

.types {
  .row {
    margin-bottom: 45px;
  }
  .plenary img {
    width: 120px;
    height: auto;
  }
  .discussion img {
    width: 77px;
    height: auto;
    margin-top: 30px;
  }
  .poster img {
    width: 71px;
    height: auto;

  }
}

.timeline {
  .date {
    font-size: 18px;
    font-weight: bold;
    font-family: 'montserratbold';
    &.vertical-line:after {
      content:"";
      position: absolute;
      z-index: -1;
      top: 35px;
      bottom: -35px;
      left: 33%;
      border-left: 2px solid #4a4a4a;
      @media(max-width:768px) {
        content: none;
      }
    }
    &.vertical-line {
      margin-bottom: 45px;
    }
  }
  .text {
  }
}

.newsletter {
    padding: 35px;
    background-image: linear-gradient(165deg, #a9d4a6, #fcbc48);
    .control-label {
      display: none;
    }
}
.newsletter-link {
  position: absolute;
  right: 150px;
  color: white;
  font-size: 20px;
  font-family: 'montserratbold';
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  img {
    margin-left: 20px;
  }
  display: none;
}
.newsletter-icon {
  width: 65px;
  height: auto;
  position: fixed;
  right: 65px;
  top: 22px;
}

.newsletter-link,
.newsletter-icon {
    @media(max-width:768px) {
      display: none;
  }
}


.anchor {
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: @color-white;
  }
}
