/// IMPACT World Styles

@color-white: white;
@color-black: black;
@color-neutral: #4a4a4a;
@color-neutral-light: #F1F1F1;
@color-neutral-dark: black;
@color-primary: #FEBD39; // yellow
@color-primary-light: #FCD794; // light yellow
@color-secondary: #a9d4a6; // green
@color-secondary-light: #e4f1e4; 
@color-secondary-superlight: #f6faf6; 

@color-yellow: #fcbc48;
@color-yellow-light: rgba(252, 188, 72, 0.1);
@color-green: #a9d4a6;
@color-green-light: rgba(169, 212, 166, 0.1);
@color-blue: #87dbfc;
@color-blue-light: rgba(135, 218, 252, 0.1);
@color-gray: #e1e1e1;;
@color-gray-light: rgba(225, 225, 225, 0.1);
@color-brown: rgba(180, 149, 77, 0.07);
@color-brown-light: rgba(180, 149, 77, 0.03);




@import "../vendor/css/open-sans.less";

@font-face {
  font-family: 'OpenSansEmoji';
  src: url('../vendor/fonts/opensansemoji/OpenSansEmoji.eot');
  src: url('../vendor/fonts/opensansemoji/OpenSansEmoji.woff') format('woff'), url('../vendor/fonts/opensansemoji/OpenSansEmoji.ttf') format('truetype'), url('../vendor/fonts/opensansemoji/OpenSansEmoji.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'open_sans_condensedbold';
	src: url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.eot');
	src: url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.woff') format('woff'),
		 url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.ttf') format('truetype'),
		 url('../vendor/fonts/opensanscondensed/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
	font-weight: normal;
	font-style: normal;
}





@media (min-width: 750px) {
	.sidebar-page {
		max-width: 750px;
		.page .container{
			max-width: 562.5px;
		}
		.sidebar .container{
			max-width: 187.5px;
		}
	}
}
@media (min-width: 1200px) {
	.sidebar-page {
		max-width: 970px;
		.page .container{
			max-width: 727.5px;
		}
		.sidebar .container{
			max-width: 242.5px;
		}
	}
}

.sidebar-page {
	margin: 0 auto;
	.page,
	.sidebar {
		float:left;
	}
	.affix {
		max-width: inherit;
		padding-right: 25px;
	}
}

body {
	/* Der Browser lädt automatisch die Schnitte, deren Stil und Gewicht benötigt werden. */
	font-family: 'Open Sans';
	// https://stackoverflow.com/questions/6935040/disadvantages-to-using-css-word-wrap-globally
	// word-wrap: break-word;
	font-size: 16px;
	color: @color-neutral;
	position: relative;
	&.navbar-padding {
		padding-top: 60px;
	}
}


a {
	color: @color-neutral;
}
.super a {
  color: @color-white;
}

p a,
.rich-text a {
	border-bottom: 1px solid @color-neutral;
	&:hover, &:focus {
		text-decoration: none;
		color: @color-neutral;
		background-color: @color-yellow;
	}
}


abbr[data-original-title], abbr[title] {
  border-width: 0;
  text-decoration: none;

  &::after {
	font-family: FontAwesome;
	content: "\202f\f29c";
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 90%;
	vertical-align: 0.4em;
	text-rendering: auto;
  }
}


.alert {
  position: absolute;
  z-index: 999;
  width: 50%;
  top: 0;
  left: 25%;
  border-radius: 2px;
  p {
	font-size: 18px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.form-control,
.help-block {
	max-width: 50%;
}

.form-control {
  border-radius: 4px;
  border-width: 1px;

  height: 40px;
  font-size: 18px;

  -webkit-transition: border-color 0.5s, background-color 0.5s;
  transition: border-color 0.5s, background-color 0.5s;


  &:focus, &:hover {
	border-color: @color-neutral-dark;
	-webkit-box-shadow: none;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.3);
  }

  &.form-control-small {
	height: 33px;
	font-size: 13px;
	font-weight: normal;
  }
}
textarea.form-control.form-control-small {
  height: auto;
}

select.form-control {
  display: inline-block;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  border-color: @color-white;
  background-color: @color-white;

  @media(min-width:768px) {
	margin-right: 15px;
  }

  option {
	background-color: @color-white;
	color: @color-black;
	font-weight: 400;
  }
}
.form-group {
  margin-bottom: 15px;
}

input[type="checkbox"]:checked + label {
	background-color: @color-white;
	color: @color-black;
}


.super {
  // Störer-Block with blue background for use inside .container
  background-color: @color-primary;
  padding: 20px;
  margin-bottom: 30px;
  color: @color-white;

  *:first-child {
	margin-top: 0;
  }
  *:last-child {
	margin-bottom: 0;
  }

  a {
	&:hover {
//      color: @color-white;
	}
  }
}


// Headlines
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: @color-neutral;
	margin-top: 0; // Undo this in richtext fields
	font-weight: bold;
	a {
		font-weight: inherit;
		text-transform: inherit;
	}
	img {
		width: 30px;
		height: auto;
		vertical-align: bottom;
		margin-right: 10px;
		margin-bottom: -2px;
	}
	
}

h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 26px;
}
h3, .h3 {
  font-size: 20px;
}
h4, .h4 {
  font-size: 18px;
}
.super {
  h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	color: @color-white;
  }
}
.widget-heading-sm-two-lines {
  // These headings have a minimum height of 2 lines.
  @media(min-width:768px) {
	min-height: 2.3em;
  }
  @media(min-width:992px) {
	min-height: 0;
  }
}

a.anchor-scroll {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}


// Buttons
.btn {
  border-color: @color-neutral-dark;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 3;
  -webkit-transition: color 0.5s, border-color 0.5s, background-color 0.5s;
  transition: color 0.5s, border-color 0.5s, background-color 0.5s;

  &.btn-default {
	border-color: @color-black;
	background-color: transparent;

	&:hover, &:focus {
	  color: @color-neutral-dark;
	  border-color: @color-neutral-dark;
	}
  }

  &.btn-primary {
	border-color: @color-neutral;
	background-color: @color-neutral;
	color: @color-white;

	&:hover, &:focus {
	border-color: @color-secondary;
	background-color: @color-secondary;
	// color: @color-secondary;
	}
  }

  &.btn-secondary {
	border-color: @color-secondary;
	background-color: @color-secondary;
	color: @color-white;

	&:hover, &:focus {
	border-color: @color-neutral-dark;
	background-color: @color-neutral-dark;
	color: @color-white;
	}
  }

  &.btn-link {
	padding: 0;
	border-width: 0;
	text-transform: none;
	font-size: inherit;
  }

  &.btn-lg {
	font-size: 16px;

	@media(min-width:768px) {
	  font-size: 22px;
	  font-weight: normal;
	}
  }
}
.super {
  .btn {

	&.btn-default {
	  border-color: @color-white;
	  color: @color-white;

	  &:hover, &:focus {
	  border-color: @color-secondary;
	  color: @color-secondary;
	  }
	}
  }
}

hr {
  border-style: solid;
  border-image-source: linear-gradient(to right, #a9d4a6, #fcbc48);
  border-image-slice: 1;
  margin-top: 0;
}
.number-circle {
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-top: 6px;
  margin-left: 6px;
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
  width: 47px;
  height: 47px;
  padding: 3px;
  background: #acd3a3;
  color: @color-white;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.gradient-background {
	background-image: linear-gradient(165deg, #a9d4a6, #fcbc48);
}

.jumbotron {
	background-color: @color-white;
	padding-top: 0;
	padding-bottom: 0;
}

.image-circled {
	border-radius: 50%;
}

// Wagtail responsive embeds http://docs.wagtail.io/en/latest/topics/writing_templates.html?highlight=responsive#responsive-embeds
.rich-text {
	img {
		max-width: 100%;
		height: auto;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.responsive-object {
	position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// ############# Widgets

.widget-header {
	.header-image {
	  // background: url(../images/header.jpg) no-repeat;
	  background-repeat: no-repeat;
	  background-position: center top;
	  background-size: cover;
	  min-height: 500px;
	  &.jumbotron {
		margin-bottom: 0;
	  }
	  .logo {
		width: 190px;
		height: auto;
		@media(max-width:768px) {
		  width: 150px;
		  float: none!important;
		  margin: 0 auto;
		  display: block;
		}
	  }
	  .header-content {
		margin-top: 9%;
		.intro {
		  border-radius: 1px;
		  background-color: rgba(0, 0, 0, 0.4);
		  display: inline-block;
		  margin-bottom: 10px;
		  padding: 10px;
		  &:first-child {
			margin-top: 68px;
		  }
		  h2 {
			opacity: 1;
			font-size: 30px;
			font-weight: 600;
			color: @color-white;
			text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		  }
		  p {
			color: @color-white;
			opacity: 1;
			font-size: 16px;
			line-height: 1.5;
			&:last-child{
			  margin-bottom: 0;
			}
		  }
		}
	  }
	}


// ################ Use Hamburger for SM START ####################
	@media (min-width: 768px) {
		.navbar-collapse {
			width: auto;
			border-top: 1px solid transparent;
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
		}
		.navbar-collapse.collapse {
			display: none !important;
		}
		.navbar-collapse.in {
			overflow-y: auto !important;
			display: block !important;
		}
		.navbar-fixed-top .navbar-collapse,
		.navbar-static-top .navbar-collapse,
		.navbar-fixed-bottom .navbar-collapse {
			padding-right: 15px;
			padding-left: 15px;
		}

		.container > .navbar-header,
		.container-fluid > .navbar-header,
		.container > .navbar-collapse,
		.container-fluid > .navbar-collapse {
			margin-right: -15px;
			margin-left: -15px;
		}

		.navbar-toggle {
			display: block;
		}

		.navbar-header {
			float: none;
		}

		.navbar-nav {
			float: none;
			margin: 7.5px -15px;
		}
		.navbar-nav > li {
			float: none;
		}
		.navbar-nav > li > a {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.widget-header .navbar-nav {
			float: none;
		}
		.navbar-right {
			float: none !important;
		}

		.navbar > .container .navbar-brand,
		.navbar > .container-fluid .navbar-brand {
			margin-left: 0;
		}

		.navbar {
			// position:fixed;
			width:100%;
			z-index: 9999;
		}
	}

	@media (min-width: 992px) {
		.navbar-collapse {
			width: auto;
			border-top: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
		.navbar-collapse.collapse {
			display: block !important;
		}
		.navbar-collapse.in {
			overflow-y: visible;
		}
		.navbar-fixed-top .navbar-collapse,
		.navbar-static-top .navbar-collapse,
		.navbar-fixed-bottom .navbar-collapse {
			padding-right: 0;
			padding-left: 0;
		}

		.container > .navbar-header,
		.container-fluid > .navbar-header,
		.container > .navbar-collapse,
		.container-fluid > .navbar-collapse {
			margin-right: 0;
			margin-left: 0;
		}

		.navbar-toggle {
			display: none;
		}

		.navbar-header {
			float: left;
		}


		.navbar-nav {
			float: left;
			margin: 0;
		}
		.navbar-nav > li {
			float: left;
		}
		.navbar-nav > li > a {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		.widget-header .navbar-nav {
			float: left;
		}
		.navbar-right {
			float: right !important;
		}

		.navbar > .container .navbar-brand,
		.navbar > .container-fluid .navbar-brand {
			margin-left: -15px;
		}
	}
// ################ Use Hamburger for SM END ####################


	.navbar.navbar-default {
		margin-bottom: 0;
		&.navbar-noborder {
			border-width: 0;
		}
		border: none;
		background: linear-gradient(
						to right, 
						@color-primary 0%, 
						@color-primary 50%, 
						@color-neutral-light 50%, 
						@color-neutral-light 100%
					);
		min-height: 60px;
		font-size: 14px;

		.navbar-header {
			background-image: url(../images/navbar-left.png);
			background-repeat: no-repeat;
			background-position: center right;
			.navbar-brand {
				// padding: 14px 0 0 15px;
				height: 60px;
				color: @color-white;
				float:right;

				@media(min-width:992px) {
					padding-top: 10px;
					margin-right: 60px;
				}

				img {
					width: 32px;
					// @media(min-width:992px) {
					// 	width: 37px;
					// }
					display: block;
					height: auto;
					float: left;
				}
				span {
					float: left;
					font-size: 18px;
					font-weight: 300;
					margin-left: 5px;
					b {
						font-weight: bold;
					}
				}
			}

			button.navbar-toggle {
				border-radius: 0;
				border-width: 0;
				padding: 15px 5px;
				margin-top: 12px;


				&:hover, &:active, &:focus {
					background-color: transparent;
				}
				&:hover {
					.icon-bar {
						background-color: @color-primary;
					}
				}

				.icon-bar {
					-webkit-transition: background-color 0.5s;
					transition: background-color 0.5s;

					background-color: @color-black;
					height: 3px;
					border-radius: 2px;

					+ .icon-bar {
						margin-top: 5px;
					}
				}
			}
		}
		.navbar-collapse {
			ul.navbar-nav {
				background-color: @color-primary-light;
				padding-left: 20px;
				padding-right: 20px;
				min-width: 50%;
				@media (min-width: 1200px) {
					min-width: 65%;
				}
				> li {
					> a {
						font-weight: 700;
						padding: 5px 10px;
						margin-top: 14px;
						margin-bottom: 14px;
						margin-right: 15px;
						// @media(min-width:992px) {
						// 	padding: 20px 15px 20px 15px;
						// }
						border: 1px solid transparent;

						text-align: center;
						text-decoration: none;
						text-transform: uppercase;
						color: @color-neutral;
					}

					// Line between links in hamburger nav
					+ li {
						> a {
							border-top: 1px solid @color-neutral;
							@media(min-width:992px) {
								border-top-width: 0;
							}
						}
					}

					&.active {
						> a {
							background-color: transparent;
							position: relative;
							border: 1px solid @color-neutral;
							border-radius: 2px;
						}
					}
				}
			}
		}
		.navbar-footer {
			background-image: url(../images/navbar-right.png);
			background-repeat: no-repeat;
			background-position: center left;
			background-color: @color-neutral-light;
			width: 190px;
			a {
				font-weight: 800;
				padding: 5px 10px;
				margin-top: 14px;
				margin-bottom: 14px;
				margin-right: 15px;
				border: 1px solid transparent;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				color: @color-neutral;
				display: inline-block;
				float: right;
				&.active {
						background-color: transparent;
						position: relative;
						border: 1px solid @color-neutral;
						border-radius: 2px;
				}
			}
			float: left;
			ul.navbar-nav {
				background-color: transparent !important;
				padding-left: 50px;
			}
			.fa {
				font-size: 20px;
				vertical-align: bottom;

			}
		}
	}
}

footer {
	margin: 60px auto 0 auto;
	max-width: 85%;
	font-size: 14px;
}

// collapsible element
.panel {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	.panel-heading {
		padding: 6px 0;
		h4, p {
			max-width: 80%;
			margin-bottom: 0;
		}
		h4 {
			font-size: 18px;
			font-weight: 800;
			display: inline-block;
		}
		span.time,
		span.number {
			font-size: 16px;
			font-weight: 300;
			width: 15%;
			display: inline-block;
			float: left;
		}
		span.number {
			width: 10%;
		}
		a,
		a:hover,
		a:active {
			color: @color-neutral;
			text-decoration: none;
		}
		.panel-title {
			position: relative;
		}
		.accordion-toggle:after {
			content: "\f106"; // arrow up
			font: normal normal normal 14px/1 FontAwesome;
			position: absolute;
			right: 0;
			top: 3px;
			font-size: 18px;
		}
		.accordion-toggle.collapsed:after {
			content: "\f107"; // arrow down
		}
	}
	.panel-body {
		border-top: none;
		font-size: 14px;
		padding: 0;
		.rich-text {
			padding-left: 15%;
			padding-top: 8px;
			padding-right: 10px;
			padding-bottom: 8px;
			&:last-child {
				padding-top: 0;
				padding-bottom: 15px;
			}
		}
	}
}

.block-heading,
.block-sub_heading,
.block-video_teaser,
.block-teaser,
.block-rich_text_container,
.block-challenge,
.block-testimonials,
.block-image_container,
.block-google_maps,
.block-columns_1_to_1,
.block-columns_1_to_2,
.block-columns_1_to_3,
.block-columns_2_to_1,
.block-columns_1_to_1_to_1,
.block-columns_1_to_1_to_1_to_1,
.block-form,
.widget-toc,
.widget-page-header,
.widget-page-challenge-header {
	margin-top: 60px;
}

.block-heading + .block-sub_heading,
.block-heading + .block-rich_text_container,
.block-heading + .block-video_teaser,
.block-heading + .block-teaser,
.block-heading + .block-rich_text_container,
.block-heading + .block-challenge,
.block-heading + .block-testimonials,
.block-heading + .block-image_container,
.block-heading + .block-google_maps,
.block-heading + .block-columns_1_to_1,
.block-heading + .block-columns_1_to_2,
.block-heading + .block-columns_1_to_3,
.block-heading + .block-columns_2_to_1,
.block-heading + .block-columns_1_to_1_to_1,
.block-heading + .block-columns_1_to_1_to_1_to_1 {
	margin-top: 10px;
}

.block-sub_heading + .block-rich_text_container,
.block-sub_heading + .block-video_teaser,
.block-sub_heading + .block-teaser,
.block-sub_heading + .block-rich_text_container,
.block-sub_heading + .block-challenge,
.block-sub_heading + .block-testimonials,
.block-sub_heading + .block-image_container,
.block-sub_heading + .block-google_maps,
.block-sub_heading + .block-sidebar_page,
.block-sub_heading + .block-columns_1_to_1,
.block-sub_heading + .block-columns_1_to_2,
.block-sub_heading + .block-columns_1_to_3,
.block-sub_heading + .block-columns_2_to_1,
.block-sub_heading + .block-columns_1_to_1_to_1,
.block-sub_heading + .block-columns_1_to_1_to_1_to_1 {
	margin-top: 5px;
}

.block-columns_1_to_1_to_1 {
	text-align: center;
	font-size: 14px;
	img {
		width: 60%;
		margin: 0 auto;
	}
}

.block-columns_1_to_1_to_1_to_1 {
	font-size: 14px;
}

.block-timeline {
	.jumbotron {
		background-color: @color-secondary-superlight;
		padding-left: 48px;
		padding-right: 48px;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		.container {
			.timeline-item {
				margin-top: 40px;
				margin-bottom: 35px;
				padding-left: 0;
				padding-top: 10px;
					p {
					font-size: 14px;
					margin-bottom: 0;
				}
				&:not(:last-child) {
					border-top: 1px solid #979797;
				}
				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: -5px;
					left: 0;
					width: 10px;
					height: 10px;
					background: @color-white;
					border: 1px solid #979797;
					-moz-border-radius: 10px;
					-webkit-border-radius: 10px;
					border-radius: 10px;
				}
				&.active:before {
					top: -8px;
					left: 0;
					width: 15px;
					height: 15px;
					background-color: #fcbc48;
					-moz-border-radius: 16px;
					-webkit-border-radius: 16px;
					border-radius: 16px;
				}
			}
		}
	}
}

.block-teaser {
	a:hover {
		h1, .h1, h2, .h2, h3, .h3, h4, .h4, p, a {
			background-color: @color-yellow;
		}
	}
	h1, .h1, h2, .h2, h3, .h3, h4, .h4, p, a{
		margin: 0;
		font-size: 26px;
		font-weight: bold;
		line-height: 1.5;
		color: @color-white;
		text-decoration: none;
		display: inline-block;
		+ h1, .h1, h2, .h2, h3, .h3, h4, .h4, p, a {
			margin-bottom: 5px;
		}
	}
	.widget-richtext-content {
		padding: 30px;
		position: relative;
	}
	.fa {
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translate(0, -50%);
		font-size: 60px;
		font-weight: normal;
		color: @color-white;
	}
}

.block-video_teaser {
	font-size: 16px;
	line-height: 1.44;
	.media-container {
		width: 50%;
		float: left;
		margin-right: 30px;
	}
}


.block-challenge {
	.intro {
		background-color: @color-secondary-light;
		padding-top: 30px;
		padding-bottom: 20px;
		p {
			font-size: 18px;
		}
	}
	.challenges {
		.container {
			padding-top:20px;
			padding-bottom: 20px;
		}
		background-color: @color-secondary-superlight;
		h3 {
			margin-top: 20px;
		}
		p {
			font-size: 18px;
		}
		img {
			width: 47px;
			height: auto;
			float: left;
			margin-right: 10px;
			margin-top: 5px;
		}
		.rich-text {
			margin-top: 20px;
		}
		.row > div {
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		.challenge3:after,
		.challenge3:before,
		.challenge1:after,
		.challenge4:before {
			content:"";
			background: rgba(74, 74, 74, 0.6);
			position: absolute;
			@media(max-width:768px) {
				content: none;
			}
		}
		.challenge3:after {
			top: 0;
			left: 0;
			width: 93%;
			height: 1px;
		}
		.challenge1:after {
			top: 0;
			right: 0;
			height: 90%;
			width: 1px;
		}
		.challenge4:before {
			top: 0;
			right: 0;
			width: 93%;
			height: 1px;
		}
		.challenge3:before {
			top: 10%;
			right: 0;
			height: 90%;
			width: 1px;
		}
	}
}

.block-testimonials {
	.container {
		min-height: 370px;
	}
	img {
		border-radius: 50%;
	}
	blockquote {
		font-style: italic;
		font-weight: 300;
		border-left: none;
	}
	h3, h4 {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.4;
	}
	.carousel-control {
		background: transparent;
		color: @color-neutral;
		text-shadow: none;
		opacity: 1;
		.fa {
			width: 20px;
			height: 20px;
			margin-top: -5px;
			font-size: 20px;
			position: absolute;
			top: 50%;
			z-index: 5;
			display: inline-block;
		}
		.fa-chevron-left {
				left: 50%;
		}
		.fa-chevron-right {
				right: 50%;
		}
	}
}

.block-google_maps {
	.map{
		width: 100%;
		height: 380px;
	}
}

.widget-page-header {
	.intro-text {
		p {
			font-size: 18px;
		}
	}
}

.widget-toc {
	ul {
		li {
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			&.active,
			&.page-active {
				a {
					background-color: transparent;
					background-image: linear-gradient(167deg, @color-secondary, @color-primary);
				}
			}
			a {
				background-color: @color-neutral;
				color: @color-white;
				text-decoration: none;
				font-size: 16px;
				font-weight: 500;
				padding-top: 8px;
				padding-bottom: 8px;
				padding-left: 15px;
				padding-right: 15px;
				display: inline-block;
				&:hover {
					background-image: linear-gradient(167deg, @color-secondary, @color-primary);
				}
				&:focus {
					background-color: @color-neutral;
				}
			}
			> ul {
				margin-top: 15px;
				li {
					&.active a{
						background-image: none;
						background-color: transparent;
						&:after {
							content: '';
							display: inline-block;
							position: absolute;
							top: 6px;
							left: -15px;
							width: 8px;
							height: 8px;
							background: @color-yellow;
							-moz-border-radius: 8px;
							-webkit-border-radius: 8px;
							border-radius: 8px;
						}
					}
					a {
						background-image: none!important;
						background-color: transparent!important;
						color: @color-neutral;
						text-decoration: none;
						font-size: 14px;
						font-weight: 500;
						padding: 0;
						&:hover {
							text-decoration: underline;
							background-image: none;
							background-color: transparent;
						}
						&:focus {
						}
					}
				}
			}
		}
	}
}

.block-form {
	// background-image: linear-gradient(177deg, #a9d4a6, #fcbc48);
	padding: 30px;
	.form-control {
		max-width: 50%;
	}
	.help-block {
		font-size: 14px;
		margin-left: 6px;
		margin-top: -3px;
	}
	h3, .btn {
		margin-top: 40px;
	}
	label {
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 3px;
	    font-weight: 400;
	    margin-top: 5px;
	    margin-left: 6px;
	}
}

.block-day {
	margin-top: 40px;
}

.block-day {
	h3 {
		font-size: 17px;
		font-weight: normal;
		b {
			font-weight: 800;
			font-size: 20px;
		}
	}
}

.widget-legend {
	margin-top:10px;
	.circle-plenary,
	.circle-workshop,
	.circle-poster,
	.circle-special {
		width: 22px;
		height: 22px;
		display: inline-block;
		border-radius: 12px;
		margin-right: 5px;
		vertical-align: bottom;
	}
	.circle-plenary {
		background-color: @color-yellow-light;
		border: 3px solid @color-yellow;
	}
	.circle-workshop {
		background-color: @color-green-light;
		border: 3px solid @color-green;
	}
	.circle-poster {
		background-color: @color-gray-light;
		border: 3px solid @color-gray;
	}
	.circle-special {
		background-color: @color-blue-light;
		border: 3px solid @color-blue;
	}
}


.block-plenary,
.block-poster,
.block-workshop,
.block-special_event,
.block-refreshment {
	.container {
			padding-right: 12px;
			padding-left: 12px;
	}
	.panel {
		background-color: transparent;
	}
	.panel,
	.row {
		border-radius: 0;
	}
}

.block-refreshment {
	.container {
		border: 3px solid transparent;
	}
	.panel-heading h4 {
		font-size: 16px;
		font-weight: 300;
	}
}

.panel-group .panel-heading+.panel-collapse>.panel-body {
	border-top: none;
}


.block-plenary,
.block-poster,
.block-workshop,
.block-special_event {
	margin-top: 5px;
}

.block-refreshment + .block-plenary,
.block-refreshment + .block-poster,
.block-refreshment + .block-workshop,
.block-refreshment + .block-special_event {
	margin-top: 0;
}

.block-plenary {
	.container {
		border: 3px solid @color-yellow;
		background-color: @color-yellow-light;
	}
}

.block-poster {
	.container {
		border: 3px solid @color-gray;
		background-color: @color-gray-light;
	}
}

.block-workshop {
	.container {
		border: 3px solid @color-green;
		background-color: @color-green-light;
		padding-left: 0;
		padding-right: 0;
	}
	.panel {
		.panel-heading {
			padding-left: 12px;
			padding-right: 12px;
		}
		.panel-body {
			padding: 0;
			.rich-text {
				padding-left:0;
			}
			.row {
				padding-top: 15px;
				padding-bottom: 15px;
				margin-left: 0;
				margin-right: 0;
				> div {
					padding-left: 12px;
					padding-right: 12px;
				}
				&:nth-child(even) {
					background-color: @color-white;
				}
				.icon img{
					float: left;
					display: block;
					width: 20px;
					height: auto;
					margin-right: 10px;
				}
				.text {
					float: left;
					max-width: 90%;
				}
				p {
					font-weight: 300;
					margin-bottom: 0;
				}
			}
			span.room {
				display: inline-block;
				background-color: @color-green;
				color: @color-white;
				font-weight: 500;
				padding: 3px 6px 3px 6px;
				border-radius: 2px;
			}
		}
	}

}

.block-special_event {
	.container {
		border: 3px solid @color-blue;
		background-color: @color-blue-light;
	}
}

.widget-plenary_workshops + .widget-plenary_workshops {
	margin-top: 60px;
}

.widget-plenary_workshops {
	margin-top: 30px;
	.container {
		border-left: 8px solid @color-yellow;
		padding-left: 0;
		.header {
			padding: 15px 10px 15px 10px;
			background-color: @color-brown;
			img {
				width: 30px;
				height: auto;
				display: inline-block;
				float: left;
				margin-top: -5px;
				margin-right: 8px;
			}
			.heading {
				display: inline-block;
				h3 {
					font-weight: 800;
					margin-bottom: 5px;
				}
				p.meta {
					color: #9b9b9b;
					font-weight: 300;
					font-size: 16px;
				}
			}
		}
		.row {
			background-color: @color-brown-light;
			margin-left: 0;
			margin-right: 0;
			padding-top: 20px;
			padding-bottom: 20px;
			.speaker {
				img {
					border-radius: 50%;
					margin-bottom: 10px;
				}
				font-size: 14px;
			}
			h4 {
				font-size: 16px;
			}
		}
		.panel {
			margin-bottom: 0;
			background-color: @color-brown-light;
			position: relative;
			.panel-heading {
				padding-top: 15px;
				padding-bottom: 15px;
				padding-left: 10px;
				padding-right: 10px;
				border: 0;
				h4, p {
					font-size: 16px;
				}
				h4 {
					font-weight: 700;
				}
				p {
					font-weight: 300;
				}
			}
			.panel-body .rich-text {
				padding-left: 10px;
				padding-right: 30px;
				font-size: 16px;
			}
			.divider {
				border-bottom: 1px solid #CACACA;
				position: absolute;
				left: 5px;
				right: 5px;
			}
		}
	}
}

.widget-poster_contribution {
	margin-top: 30px;
	position: relative;
	.divider {
		border-bottom: 1px solid #979797;
		position: absolute;
		left: 5px;
		right: 5px;
	}
	.panel {
		margin-bottom: 0;
		.panel-title {
			h4 {
				font-size: 16px;
				line-height: 1.5;
			}
			.rich-text {
				padding-left: 10%;
				color: #9b9b9b;
				font-weight: 300;
				font-size: 14px;
			}
			span.number {
				font-size: 16px;
			}
		}
		.panel-body {
			.rich-text {
				padding-left: 10%;
			}
		}
	}
}